# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^user/list/$                    Controller/RestController.php?view=getUsers [nc,qsa]
RewriteRule ^user/list/([0-9]+)/$           Controller/RestController.php?view=getUser&userId=$1 [nc,qsa]
RewriteRule ^user/login/$                   Controller/RestController.php?view=loginUser [nc,qsa]
RewriteRule ^user/loggedin/$                Controller/RestController.php?view=checkLoggedIn [nc,qsa]
RewriteRule ^user/register/$                Controller/RestController.php?view=registerUser [nc,qsa]
RewriteRule ^user/logout/$                  Controller/RestController.php?view=logout [nc,qsa]
RewriteRule ^user/loggedinuser/$            Controller/RestController.php?view=getLoggedInUser [nc,qsa]
RewriteRule ^user/updateUser/$              Controller/RestController.php?view=updateUser [nc,qsa]

RewriteRule ^trip/usertrips/$               Controller/RestController.php?view=userTrips [nc,qsa]
RewriteRule ^trip/create/$                  Controller/RestController.php?view=createTrip [nc,qsa]
RewriteRule ^trip/search/$                  Controller/RestController.php?view=searchTrip [nc,qsa]
RewriteRule ^trip/contactDriver/([0-9]+)/$  Controller/RestController.php?view=contactDriver&tripId=$1 [nc,qsa]
RewriteRule ^trip/emailDriver/              Controller/RestController.php?view=emailDriver [nc,qsa]